@model GardenHub.Models.GardenCareActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GardenCareActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garden.GardenDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantInspectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantInspectionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentInspectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentInspectionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WateringPerformed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WateringPerformed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterAmountAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterAmountAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutrientsAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutrientsAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutrientType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutrientType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutrientAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutrientAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPlantingsAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPlantingsAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPlantsAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPlantsAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantTypesAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantTypesAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeedingPerformed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeedingPerformed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeedingDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeedingDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruningPerformed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruningPerformed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruningNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruningNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PestControlPerformed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PestControlPerformed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PestControlDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PestControlDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EcLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EcLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActivityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
