@model GardenHub.Models.JournalEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JournalEntry</h4>
    <hr />
    <dl class="row">
        @if (ViewData["EntryImage"] != null && !string.IsNullOrEmpty(ViewData["EntryImage"]!.ToString()))
        {
            <dt class="col-sm-2">
                Entry Image
            </dt>
            <dd class="col-sm-10">
                <img src="@ViewData["EntryImage"]" alt="Journal Entry Image" style="max-width: 300px; max-height: 300px;" class="img-thumbnail" />
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garden.GardenDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EntryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
