@model GardenHub.Models.Garden

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Garden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenGrowMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenGrowMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GardenId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
