@model IEnumerable<GardenHub.Models.Garden>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenGrowMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (ViewData[$"GardenImage_{item.GardenId}"] != null && !string.IsNullOrEmpty(ViewData[$"GardenImage_{item.GardenId}"]!.ToString()))
                {
                    <img src="@ViewData[$"GardenImage_{item.GardenId}"]" alt="@item.GardenName" style="max-width: 80px; max-height: 80px;" class="img-thumbnail" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GardenName)
            </td>
            <td>
                @(item.GardenDescription.Length > 50 ? item.GardenDescription.Substring(0, 50) + "..." : item.GardenDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GardenLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GardenGrowMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GardenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GardenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GardenId">Delete</a> |
                <a asp-action="Dashboard" asp-route-id="@item.GardenId" class="btn btn-primary">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
